@import "tailwindcss";

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Header Outline text */
.outlined-text {
  color: transparent;
  -webkit-text-stroke: 2px white;
  font-weight: 800;
}

@media (min-width: 768px) {
  .outlined-text {
    -webkit-text-stroke: 3px white;
  }
}
@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-right {
  animation: slideRight 0.5s ease-in-out;
}

.animate-slide-left {
  animation: slideLeft 0.5s ease-in-out;
}

/* body {
  cursor: none;
} */
